<form method="post" action="/alterar">

<div>
  <label>usuário</label>
  <input value="{{anunciante.usuario}}" name="usuario">
  </div>
  <div>
    <label>Senha</label>
  <input value="{{anunciante.senha}}" name="senha">
  </div>
  <div>
  <label>telefone</label>
  <input value="{{anunciante.telefone}}" name="telefone">
  </div>
  
<label>Nome ou Apelido</label>
  <input value="{{anunciante.nome}}" name="nome">
   <button type="submit">cadastrar</button>
</form>