<form method="post" action="/cadastrar">

<div>
  <label>usuário</label>
  <input name="usuario">
  </div>
  <div>
    <label>Senha</label>
  <input name="senha">
  </div>
  <div>
  <label>telefone</label>
  <input name="telefone">
  </div>
  
<label>Nome ou Apelido</label>
  <input name="nome">
   <button type="submit">cadastrar</button>
</form>