<form method="post" action="/entrar">

  <input class="form-control" name="usuario">
  <input class="form-control" name="senha">
   <button class="btn btn-primary" type="submit">entrar</button>
</form>


<a href="/cadastrar">não tenho cadastro</a>