
<form action="/users" method="post">
<div>
    <div>
    <label>Usuário:</label>
    <input name="usuario"  >
</div>
<div>
      <label>Senha:</label>
    <input name="senha">
    </div>
       <div>
    <label>palavra-chave para recuperação de senha</label>
           <div>
        <input name="recuperacao" placeholder="melhor amigo, animal de estimação, novinha inesquecível" >
</div>
        </div>
</div>



<button class="btn btn-primary" > Fazer Parte </button>
