<form action="/entrar" method="post"  >
        <input placeholder="" name="velho"  >

        <button type="submit">
                entrar
        </button>
</form>

<a href="/recuperar" >recuperar </a>